{% extends "home.html" %}
{% load static %}
{% block title %}
    <title>Group Definition</title>
{% endblock %}
{% block content %}
    <div class="row my-4 card" style="padding: 40px" id="BatchDefinition">
        <h4>Group Definition</h4>
        <div class="col-lg-12">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="GroupName">Group Name:</label>
                    <input type="text" class="form-control" name="GroupName" id="GroupName"
                           placeholder="Enter Group Name" required>
                </div>
                <div class="form-group">
                    <label for="GroupDescription">Group Description:</label>
                    <input type="text" class="form-control" name="GroupDescription" id="GroupDescription"
                           placeholder="Group Description"
                           required>
                </div>
                <div class="form-group">
                    <label for="QFeature">Select Quality feature:</label>
                    <select class="form-control" data-style="btn-primary"
                            id="QFeature" name="QFeatureS" required>
                        <option selected value> -- select an option --</option>
                        {% for entry in QFeature %}
                            <option value="{{ entry.Name }}">{{ entry.Name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="BatchDetail">Select Batches:</label>
                </div>
                <div class="form-group card" style="background-color: beige">
                    <div class="form-group row" id="dual-list-box-batches" style="margin: 20px">

                        <div class="col-lg-5">
                            <select name="from[]" id="search" class="form-control" size="8" multiple="multiple">
                                {% for b in batches %}
                                    <option value="{{ b.id }}">{{ b.BatchName }}:{{ b.BatchDescription }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-lg-2">
                            <button type="button" id="search_rightAll" class="btn btn-block"><i
                                    class="glyphicon glyphicon-forward"></i></button>
                            <button type="button" id="search_rightSelected" class="btn btn-block"><i
                                    class="glyphicon glyphicon-chevron-right"></i></button>
                            <button type="button" id="search_leftSelected" class="btn btn-block"><i
                                    class="glyphicon glyphicon-chevron-left"></i></button>
                            <button type="button" id="search_leftAll" class="btn btn-block"><i
                                    class="glyphicon glyphicon-backward"></i></button>
                        </div>

                        <div class="col-lg-5">
                            <select name="SBatches" id="search_to" class="form-control" size="8"
                                    multiple="multiple"></select>
                        </div>
                    </div>
                </div>

                <!-- check Box for filtering influencing factor -->
                <div class="checkbox">
                    <label><input type="checkbox" name="InfCb" id="InfCheckBox" value="0"> Filter More Depending on
                        Influencing Factors.</label>
                </div>
                <!-- Filter Influencing Factors -->
                <div class="form-group" id="InfluncingFactorDetails" style="display: none">
                    <div class="row AndOrFDF" id="AndOrFDF" style="padding-left: 25px" hidden>
                        <div class="form-group col-lg-3" style=" margin-top: 25px;">
                            <select class="form-control btn-info selectpicker" data-style="btn-info" id="Operation"
                                    name="OperationDec">
                                <option selected value="And">And</option>
                                <option value="Or">Or</option>
                            </select>
                        </div>
                    </div>
                    <div class="row AndOrFDF" id="AndOrFDa" style="padding-left: 25px" hidden>
                        <div class="form-group col-lg-3" style=" margin-top: 25px;">
                            <select class="form-control btn-info selectpicker" data-style="btn-info" id="Operation"
                                    name="OperationDat">
                                <option selected value="And">And</option>
                                <option value="Or">Or</option>
                            </select>
                        </div>
                    </div>
                    <div class="row AndOrFDF" id="AndOrFS" style="padding-left: 25px" hidden>
                        <div class="form-group col-lg-3" style=" margin-top: 25px;">
                            <select class="form-control btn-info selectpicker" data-style="btn-info" id="Operation"
                                    name="OperationS">
                                <option selected value="And">And</option>
                                <option value="Or">Or</option>
                            </select>
                        </div>
                    </div>
                    <div class="row card" style="background-color: beige; margin: 2px">
                        <div class="row" style=" padding-left: 25px;">
                            <label for="InfluencingFactor">Select <b>Decimal</b> Influencing Factors:</label>
                        </div>
                        <div class="after-add-more-DF" id="duplicaterD" style=" padding-left: 25px;">
                            <div class="row">
                                <div class="form-group col-lg-4" id="Infdiv">
                                    <select class="form-control selectpicker"
                                            data-style="btn-primary" name="InfDe"
                                            id="InfluencingFactor">
                                        <option selected value> -- select an option --</option>
                                        {% for entry in infLD %}
                                            <option value="{{ entry.Name }}">{{ entry.Name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group col-lg-1">
                                    <select class="form-control selectpicker" data-style="btn-primary"
                                            name="OprBetween1"
                                            id="OperationD1">
                                        <option selected value></option>
                                        <option value="lessThan"><</option>
                                        <option value="lessThanEqual"><=</option>
                                        <option value="greater">></option>
                                        <option value="greaterThanEqual">>=</option>
                                        <option value="Equal">==</option>
                                    </select>
                                </div>
                                <div class="form-group col-lg-2">
                                    <input type="text" class="form-control" id="DecimalValueInf1"
                                           name="DecimalValueInf1">
                                </div>
                                <div class="form-group col-lg-1">
                                    <select class="form-control selectpicker" data-style="btn-primary"
                                            name="OprBetween2"
                                            id="OperationD1">
                                        <option selected value></option>
                                        <option value="lessThan"><</option>
                                        <option value="lessThanEqual"><=</option>
                                        <option value="greater">></option>
                                        <option value="greaterThanEqual">>=</option>
                                        <option value="Equal">==</option>
                                    </select>
                                </div>
                                <div class="form-group col-lg-2">
                                    <input type="text" class="form-control" id="DecimalValueInf2"
                                           name="DecimalValueInf2">
                                </div>
                                <div class="col-lg-1">
                                    <button class="btn btn-primary"
                                            onclick="duplicate('after-add-more-DF',this,event)" type="button"><i
                                            class="glyphicon glyphicon-plus-sign"></i></button>
                                </div>
                                <div class="col-lg-1">
                                    <button class="btn btn-primary"
                                            onclick="onClickremove('after-add-more-DF',this,event)"
                                            type="button"><i
                                            class="glyphicon glyphicon-minus-sign"></i>
                                    </button>

                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row" style=" margin-top: 25px;">
                        <div class="form-group col-lg-3">
                            <select class="form-control btn-info selectpicker" data-style="btn-info"
                                    name="OperationDecString" id="OperationDecString">
                                <option value="And">And</option>
                                <option selected value="Or">Or</option>
                            </select>
                        </div>
                    </div>

                    <div class="row card" style="background-color: beige;margin: 2px">
                        <div class="row" style=" padding-left: 25px;">
                            <label for="InfluencingFactor">Select <b>String</b> Influencing Factors:</label>
                        </div>
                        <div class="after-add-more-S" id="duplicaterS">


                            <div class="row" style=" padding-left: 25px;">
                                <div class="form-group col-lg-4" id="Infdiv">

                                    <select class="form-control selectpicker" onchange="OnChangeIS(this,event)"
                                            data-style="btn-primary"
                                            id="0" name="InfS">
                                        <option selected value> -- select an option --</option>
                                        {% for entry in infLS %}
                                            <option value="{{ entry.Name }}">{{ entry.Name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group col-lg-6" id="InfdivValue" name="1">

                                    <select class="form-control selectpicker InfluencingFactorV"
                                            data-style="btn-primary"
                                            name="InfluencingFactorSV" id="InfluencingFactorV" multiple>
                                        {% for entry in infSV %}
                                            <option value="{{ entry.Value }}:{{ entry.Name }}" id="{{ entry.Name }}"
                                                    hidden>{{ entry.Value }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-lg-1">
                                    <button class="btn btn-primary"
                                            onclick="duplicate('after-add-more-S',this,event)" type="button"><i
                                            class="glyphicon glyphicon-plus-sign"></i></button>
                                </div>
                                <div class="col-lg-1">
                                    <button class="btn btn-primary"
                                            onclick="onClickremove('after-add-more-S',this,event)"
                                            type="button"><i
                                            class="glyphicon glyphicon-minus-sign"></i>
                                    </button>

                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-3" style=" margin-top: 25px;">
                            <select class="form-control btn-info selectpicker" data-style="btn-info"
                                    name="OperationStringDate" id="OperationStringDate">
                                <option value="And">And</option>
                                <option selected value="Or">Or</option>
                            </select>
                        </div>
                    </div>
                    <div class="row card" style="background-color: beige;margin: 2px"
                    >
                        <div class="row" style=" padding-left: 25px;">
                            <label for="InfluencingFactor">Select <b>Date</b> Influencing Factors:</label>
                        </div>
                        <div class="after-add-more-DT" id="duplicaterDT">


                            <div class="row" style=" padding-left: 25px;">
                                <div class="form-group col-lg-3" id="Infdiv">

                                    <select class="form-control" data-style="btn-primary"
                                            id="InfluencingFactordt" name="InfDa">
                                        <option selected value> -- select an option --</option>
                                        {% for entry in infLDT %}
                                            <option value="{{ entry.Name }}">{{ entry.Name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group col-lg-1">
                                    <select class="form-control selectpicker" data-style="btn-primary"
                                            name="OperationDate1"
                                            id="OperationDate1">
                                        <option selected value></option>
                                        <option value="lessThan"><</option>
                                        <option value="lessThanEqual"><=</option>
                                        <option value="greater">></option>
                                        <option value="greaterThanEqual">>=</option>
                                        <option value="Equal">==</option>
                                    </select>
                                </div>
                                <div class="col-lg-3">
                                    <div class="input-group date form_datetime dateS">
                                        <input type="text" class="form-control" value=""
                                               oninput="ClearRelatedTextBox(this,'Date1')">
                                        <span class="input-group-addon"><span
                                                class="glyphicon glyphicon-th"></span></span>
                                        <input type="hidden" class="Date1" name="Date1" id="dtp_input1" value=""/><br/>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="input-group date form_datetime dateS">
                                        <input type="text" class="form-control"
                                               oninput="ClearRelatedTextBox(this,'Date2')">
                                        <span class="input-group-addon"><span
                                                class="glyphicon glyphicon-th"></span></span>
                                        <input type="hidden" class="Date2" name="Date2" id="dtp_input2" value=""/><br/>
                                    </div>
                                </div>
                                <div class="col-lg-1">
                                    <button class="btn btn-primary"
                                            onclick="duplicate('after-add-more-DT',this,event)" type="button"><i
                                            class="glyphicon glyphicon-plus-sign"></i></button>
                                </div>
                                <div class="col-lg-1">
                                    <button class="btn btn-primary"
                                            onclick="onClickremove('after-add-more-DT',this,event)"
                                            type="button"><i
                                            class="glyphicon glyphicon-minus-sign"></i>
                                    </button>

                                </div>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <button type="submit" name="SubmitGroupDetail" class="btn btn-primary pull-right"
                                style="margin-top: 20px">Submit
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row my-4 card" style="padding: 40px" id="BatchDefinition">
        <form method="POST" enctype="multipart/form-data" id="ProductDetailT">
            {% csrf_token %}
            <div class="col-lg-12" style="margin-top: 5px;">
                <h4>Confirm The Product that should be included in the group:</h4>
            </div>
            <div class="card col-lg-12"
                 style="margin-top: 10px;margin-bottom: 10px; background-color: beige; padding: 20px">
                <div class="form-group">
                    <label for="SampleN" style="color: red"><h5>Enter the number of sample for each
                        product:</h5></label>
                    <input type="text" id="SampleN" name="SampleN"/>
                </div>
            </div>


            <div class="card col-lg-12" style="margin-top: 5px;padding: 20px;background-color: beige">
                <table id="example" class="display" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th><input name="select_all" value="1" id="example-select-all" type="checkbox"/></th>
                        <th>Product</th>
                        <th>Date</th>
                        <th>LSL</th>
                        <th>USL</th>
                        <th>Batch</th>
                        <th>QFeature Value</th>
                        <th>Total</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th></th>
                        <th>Product</th>
                        <th>Date</th>
                        <th>LSL</th>
                        <th>USL</th>
                        <th>Batch</th>
                        <th>QFeature Value</th>
                        <th>Total</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for product in ProductInBatches %}
                        <tr>
                            <td></td>
                            <td>{{ product.ProductId__Name }}</td>
                            <td>{{ product.ProductId__ExportDate }}</td>
                            <td>{{ product.ProductId__LSL }}</td>
                            <td>{{ product.ProductId__USL }}</td>
                            <td>{{ product.BatchId__BatchName }} : {{ product.BatchId__BatchDescription }}</td>
                            <td>{{ product.ProductId__qualityfeature__Value }}</td>
                            {% for entry in ProductInBatchesC %}
                                {% if entry.ProductId__Name == product.ProductId__Name and product.BatchId_id == entry.BatchId_id %}
                                    <td class="total">{{ entry.total }}</td>
                                {% endif %}
                            {% endfor %}
                            <td id="hid">False</td>
                            <td>{{ product.ProductId_id }}</td>
                            <td>{{ product.BatchId_id }}</td>
                            <td>{{ product.ProductId__qualityfeature__Name }}</td>
                            <input name="QualityFName" value="{{ product.ProductId__qualityfeature__Name }}" hidden/>
                            <input id="BatchId" name="BatchId" value="{{ product.BatchId_id }}" hidden/>
                            <input name="ProductId" id="ProductId" value="{{ product.ProductId_id }}" hidden/>

                        </tr>
                    {% endfor %}

                    <input name="GroupId" value="{{ groups.id }}" hidden/>

                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <button type="button" name="SubmitGroupProductDetail1" class="btn btn-primary pull-right"
                            style="margin-top: 20px" onclick="GetMaxSampN(event)">Submit
                    </button>
                </div>
            </div>
        </form>
        <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
             id="model1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        Confirm Submit
                    </div>
                    <!-- if the user did not enter the number of samples for each product -->
                    <div class="modal-body" id="Sit1">
                        You did not enter the <b> number of samples for each product</b>. One measurement will be taken
                        for each product.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <a href="#" id="SubmitGroupProductDetail" class="btn btn-success success">Submit</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
             id="model2">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        Confirm Submit
                    </div>
                    <!-- if the user did not enter the number of samples for each product -->
                    <div class="modal-body" id="Sit1">
                        You did not Select any <b>Product</b>. The products will be selected in order.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <a href="#" id="SubmitGroupProductDetail" class="btn btn-success success">Submit</a>
                    </div>
                </div>
            </div>

        </div>
     <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
             id="modalError">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4>Error</h4>
                    </div>
                    <!-- if the user did not enter the number of samples for each product -->
                    <div class="modal-body">
                        <p> </p>
                    </div>
                      <div class="modal-footer">
                    <button type="button" class="btn btn-success success" data-dismiss="modal">Close</button>
                </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}