{% load static %}

header, section {
    display: block;
}

body {
    font-family: 'Droid Serif';
}

h1, h2 {
    text-align: center;
    font-weight: normal;
}

#features {
    margin: auto;
    width: 460px;
    font-size: 0.9em;
}

.connected, .sortable, .exclude, .handles {
    margin: auto;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sortable.grid {
    overflow: hidden;
}



.connected li, .sortable li, .exclude li, .handles li {
    list-style: none;
    border: 1px solid #CCC;
    background: #179c81;
    /* font-family: "Tahoma"; */
    color: #ffffff;
    margin: 3px;
    padding: 3px;
    height: 30px;
    text-align: center;
    width: 200px;
}


.handles span {
    cursor: move;
}

li.disabled {
    opacity: 0.5;
}

.sortable.grid li {
    line-height: 80px;
    float: left;
    width: 80px;
    height: 80px;
    text-align: center;
}

li.highlight {
    background: #179c81;
}


#connected {
    width: 440px;
    overflow: hidden;
    margin: auto;
}

.Lheights
{
    height:40px;
    width: 220px;
}

.Lheight
{
    height:100%;
    width: 220px;
}

.connected {
    float: left;
}

.connected.no2 {
    float: right;
}
.connected.no3 {
    float: left;
}

li.sortable-placeholder {
    border: 1px dashed #CCC;
    background: none;
}
div#mc ul.list-group:after {
  clear: both;
  display: block;
  content: "";
}

div#mc .list-group-item {
    float: left;
    width: 200px;
    margin: 2px;
}

div#categorized ul li{
    background-color: #1f82c0;
}

span#OneItem {
    display: table;
    width: 100%;
}

.entry:not(:first-of-type)
{
    margin-top: 10px;
}

.glyphicon
{
    font-size: 12px;
}

.circle{
    height: 40px !important;
}
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #1f82c0;
    color: white;
}

#myTable thead > tr > th.detail,
#myTable tbody > tr:not(.detail-view) > td:first-of-type {
  display: none;
}

#myTable thead > tr > th:nth-child(2),
#myTable tbody > tr:not(.detail-view) > td:nth-child(2) {
  border-left: none!important;
}

input[type="radio"], input[type="checkbox"] {
    line-height: normal;
    margin: 0;
}

.filterable {
    margin-top: 15px;
}
.filterable .panel-heading .pull-right {
    margin-top: -20px;
}
.filterable .filters input[disabled] {
    background-color: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto;
}
.filterable .filters input[disabled]::-webkit-input-placeholder {
    color: #333;
}
.filterable .filters input[disabled]::-moz-placeholder {
    color: #333;
}
.filterable .filters input[disabled]:-ms-input-placeholder {
    color: #333;
}
